body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote，th,
td {
    margin: 0;
    padding: 0;
    max-height: 100%
}

body,
button,
input {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    font-size: 14px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input,
select,
option,
button,
textarea {
    background: linear-gradient(to bottom, #fff, #fff);
    -webkit-background: linear-gradient(to bottom, #fff, #fff);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    font-family: "Avenir Next", Avenir, "Helvetica Neue", "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
    border-radius: 1px
}

select {
    padding: 2px
}

a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden
}

li {
    list-style: none
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px
}

html,
body {
    width: 100%
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

.body .fix-top {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    z-index: 200
}

.body .fix-top img {
    float: left;
    margin-left: 30px
}

.body .fix-top p {
    float: right;
    line-height: 113px;
    background: url(../images/icon_iphone.png) left center no-repeat;
    font-size: 32px;
    padding-left: 58px;
    color: #fff;
    margin-right: 30px
}

.body .qrcode {
    position: fixed;
    top: 60%;
    z-index: 5000;
    right: 15px;
}

.body .qrcode img {
    width: 180px;
    margin-right: 40px;
}

.body>img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.imgbox2 .formbox {
    width: 260px;
    height: 310px;
    background-color: #fff;
    position: fixed;
    top: 17%;
    right: 15px;
}

.imgbox2 .formbox .number {
    height: 57px;
    background-color: #005ca1;
}

.imgbox2 .formbox .number img {
    width: 40px;
    margin-top: 9px;
    float: left;
    margin-right: 13px;
    margin-left: 13px;
}

.imgbox2 .formbox .number p {
    color: #fff;
    font-weight: bold;
    line-height: 57px;
    font-size: 26px;
}

.imgbox2 .formbox .title {
    height: 60px;
    line-height: 60px;
    color: #111f34;
    font-size: 22px;
    text-align: center;
}

.body .imgbox2 .formbox input {
    width: 212px;
    height: 36px;
    line-height: 36px;
    color: #333;
    outline: none;
    border: 0;
    background: none;
    padding-left: 13px;
    font-size: 16px;
    border: solid 1px #b5b5b5;
    margin-left: 24px;
}

.body .imgbox2 .formbox input::-webkit-input-placeholder {
    color: #959595
}

.body .imgbox2 .formbox input::-moz-input-placeholder {
    color: #959595
}

.body .imgbox2 .formbox input::-ms-input-placeholder {
    color: #959595
}

.body .imgbox2 .formbox .name {
    margin-bottom: 20px;
}

.body .imgbox2 .formbox .btn {
    width: 210px;
    height: 36px;
    border-radius: 4px;
    line-height: 36px;
    text-align: center;
    background-color: #ff3621;
    margin-left: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.ajax-hint {
    position: fixed;
    top: 50%;
    z-index: 150;
    left: 35%;
    width: 30%;
    line-height: 60px;
    text-align: center;
    margin-top: -30px;
    color: #fff;
    font-size: 28px;
    background: rgba(0, 0, 0, 0.5)
}

.bottom {
    padding-top: 30px;
    height: 120px;
    text-align: center;
    color: #666;
}

.bottom p {
    margin-bottom: 10px;
}

.bottom a {
    color: #333;
}

.bottom a:hover {
    color: #ff5537;
}

.bottom>img {
    display: block;
    margin: auto;
    margin-top: 10px;
}


/* 新增 */

.cartType {
    width: 70%;
    margin: 0 auto;
    padding: 40px 132px 125px 132px;
    box-sizing: border-box;
    overflow: hidden;
}

.cartType h2 {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #54a91a;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
}

.cartType ul li {
    width: 32%;
    height: auto;
    float: left;
    margin-right: 2%;
    margin-top: 20px;
    border-radius: 10px;
}

.cartType ul li:nth-child(3n) {
    margin-right: 0;
}

.cartType ul li:last-child {
    height: 315px;
    background: #54a91a;
    border-radius: 10px;
}

.cartType ul li:last-child a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 315px;
    font-size: 30px;
    color: #fff;
    padding-right: 20px;
    box-sizing: border-box;
}

.cartType ul {
    width: 100%;
    height: auto;
}

.cartType ul li img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

.cartType hr {
    width: 100%;
    border: 0;
    background-color: rgb(101, 0, 0);
    height: 3px;
    margin: 20px 0 0 0;
}

.cartType li h3 {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartType li h3 span:nth-child(1) {
    width: 40%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    color: #fff;
    position: relative;
}

.cartType li h3 span:nth-child(1)::after {
    content: '';
    width: 2px;
    height: 45px;
    background-color: #fff;
    position: absolute;
    top: 7.5px;
    right: 0;
}

.cartType li h3 span:nth-child(2) {
    width: 60%;
    height: 100%;
    display: inline-block;
    float: left;
    color: #fff;
}

.content p:nth-child(1) {
    margin-bottom: 5px;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    box-sizing: border-box;
}